* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --bgcol: #fff;
  --fontcol: #333;
}

body {
  font-family: "inter", sans-serif;
  background-color: var(--bgcol);
  color: #333;
  min-height: 2000px;
}

/* navbar style */
.navbar-section {
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: "";
  padding: 1rem;
}

.nav-menu .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.wrapper li a {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.1s;
}

.wrapper li a:hover {
  color: black;
}

.nav-menu .sign a {
  color: white;
  background-color: #e4002b;
  font-family: "poppins", sans-serif;
  padding: 0.2rem 1.1rem 0.3rem;
  font-size: 0.9rem;
  font-weight: 450;
  border-radius: 20px;
}

.logo img {
  width: 8rem;
}
/* navbar style end */

/* section start */
.image-slide .kfc-image img {
  width: 100%;
}

/* text */
.text-kfc {
  margin-top: 10rem;
}

.wrapper-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

.left {
  display: flex;
  justify-content: "";
  align-items: center;
}

/* .left p {
  font-family: "Playwrite AR", cursive;
  font-size: 2rem;
  color: #e4002b;
  border-bottom: 0.5px solid #e4002b;
  padding-bottom: 0.5rem;
} */

.left img {
  border-radius: 10rem;
  width: 7rem;
}

.right p {
  font-size: 2rem;
  font-weight: 500;
}

/* section news */
.news-section {
  margin-top: 2rem;
}

.wrapper-news {
  padding: 0rem 2.2rem;
}

.news1 img {
  width: 20rem;
}

.news1 {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #333;
  padding-bottom: 1.5rem;
}

.news1 a {
  font-size: 1.8rem;
  font-weight: 550;
  color: #000;
  margin-left: 2rem;
}

.news1 a:hover {
  color: #e4002b;
}

.news2 img {
  width: 20rem;
}

.news2 {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #333;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.news2 a {
  font-size: 1.8rem;
  font-weight: 550;
  color: #000;
  margin-left: 2rem;
}

.news2 a:hover {
  color: #e4002b;
}

.news3 img {
  width: 20rem;
}

.news3 {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

.news3 a {
  font-size: 1.8rem;
  font-weight: 550;
  color: #000;
  margin-left: 2rem;
}

.news3 a:hover {
  color: #e4002b;
}

.section-find {
  margin-top: 5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 3rem;
  gap: 1rem;
}

.wrapper .esd {
  /* border: 0.5px solid rgb(203, 203, 203); */
  padding: 1rem 0.5rem 2rem;
  text-align: center;
}

.esd h1 {
  font-family: "inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 550;
  margin-top: 0.5rem;
}

.esd p {
  padding: 0.6rem 1rem;
  text-align: center;
}

.esd .cta {
  margin-top: 0.7rem;
}
.esd .cta a {
  color: #e4002b;
  border: 0.5px solid #e4002b;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  transition: 0.2s ease;
}

.esd .cta a:hover {
  background-color: #e4002b;
  color: white;
}

/* special */
.special {
  margin-top: 7rem;
  padding: 2rem;
}

.text p {
  font-family: "inter", sans-serif;
  font-size: 1.9rem;
  font-weight: 550;
}

.menu {
  padding: 0rem;
  margin-top: 6rem;
}

.text {
  font-size: 1.9rem;
  font-weight: 550;
}

.menu1 {
  margin-top: 2rem;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 20px;
  display: inline-block;
  padding: 1rem;
}

.text-m1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-m1 .name a {
  font-size: 1.2rem;
  font-weight: 550;
  color: black;
}

.text-m1 .price {
  font-size: 1.1rem;
  font-weight: 550;
}

.menu1 p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.menu1 .buy {
  margin-top: 4rem;
}

.buy a {
  font-size: 1.1rem;
  font-weight: 550;
  color: white;
  background-color: #e4002b;
  display: block;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 30px;
}

.menu1 a img {
  width: 20rem;
}
/* none zone */
#menu {
  display: none;
}

#ex {
  display: none;
}
/* none zone */

/* resp */
@media (max-width: 1000px) {
  html {
    font-size: "";
  }

  #menu {
    display: inline-block;
    margin-top: 0.5rem;
    color: black;
    border: 0.5px solid #e4002b;
    padding: 0.4rem 0.5rem 0.2rem;
    border-radius: 20px;
    transition: 0.2s ease;
  }

  #menu:hover {
    background-color: #e4002b;
    color: white;
  }

  #ex {
    display: inline-block;
  }

  .tag {
    position: absolute;
    right: 1rem;
    top: 1.7rem;
  }

  .tag a {
    color: #000;
    border: 0.5px solid #e4002b;
    padding: 1rem 0.5rem 0.2rem;
    border-radius: 20px;
    transition: 0.2s ease;
  }

  .tag a:hover {
    background-color: #e4002b;
    color: white;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .list {
    position: absolute;
    top: -1100%;
    right: 0%;
    background-color: #fffffff7;
    width: 100%;
    height: 100vh;
    transition: 1s ease-in-out;
    z-index: 1;
  }

  .list.active {
    top: 0;
  }

  .list .wrapper {
    display: block;
    margin-top: 5rem;
    margin-left: 1.1rem;
  }

  .wrapper li {
    margin-top: 0.4rem;
  }

  .wrapper li a {
    font-size: 1.6rem;
    font-weight: 550;
  }
  .nav-menu .sign {
    position: absolute;
    right: 4.3rem;
    top: 2rem;
  }

  /* section */

  .image-slide .kfc-image img {
    width: 100%;
    height: 15rem;
  }

  .text-kfc {
    position: relative;
    margin-left: -1rem;
    margin-top: 5rem;
  }

  .wrapper-text {
    display: flex;
    justify-content: flex-start;
  }

  .wrapper-text .right {
    margin-left: 1rem;
  }

  .left img {
    width: 4rem;
  }

  .right p {
    font-size: 1.5rem;
  }

  .right span {
    border-bottom: 2px solid #e4002b;
  }

  .news-section {
    margin-top: 3rem;
  }

  .news1 {
    display: block;
  }

  .news1 a {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  .news1 img {
    width: 100%;
    padding-bottom: 1rem;
  }

  .news2 {
    display: block;
  }

  .news2 a {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  .news2 img {
    width: 100%;
    padding-bottom: 1rem;
  }

  .news3 {
    display: block;
  }

  .news3 a {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  .news3 img {
    width: 100%;
    padding-bottom: 1rem;
  }

  .section-find {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    flex-wrap: wrap;
  }

  /* special */
  .menu1 a img {
    width: 7rem;
  }

  .menu1 {
    display: flex;
    padding: 0.5rem;
  }

  .menu1 .text-m1 {
    display: block;
    justify-content: flex-start;
  }

  .text-m1 .price {
    margin-top: 0.6rem;
  }

  .menu1 .uy {
    position: relative;
    right: 7rem;
    top: 3rem;
  }

  .menu1 .buy a {
    font-size: 0.7rem;
  }
}
